## Huracanes 2005

In [2]:
import pandas as pd

In [4]:
dfHu = pd.read_csv("./irma.csv", sep=';')
dfHu.head(2)

    Lat   Lon  Wind  Pressure      Storm Type Category             DateTime
0  16.4 -30.3    50      1004  Tropical Storm        -  2005-08-30 15:00:00
1  16.4 -31.2    60      1001  Tropical Storm        -  2005-08-30 21:00:00

In [5]:
dfEsc = pd.read_excel('escala_saffir_simpson.xlsx')
dfEsc.head(3)

  categoria         descripcion        color  nudos_min  nudos_max
0        TD  Depresion Tropical  deepskyblue          0         33
1        TS   Tormenta Tropical         lime         34         63
2        C1         Categoria 1       yellow         64         82

In [11]:
# Iterador para recorrer el DataFrame:
for r in dfEsc.iterrows():
    cat = r[1]['categoria']
    color = r[1]['color']
    nudos_min = r[1]['nudos_min']
    nudos_max = r[1]['nudos_max']
        
    aux = dfHu[(dfHu.Wind >= nudos_min) & (dfHu.Wind <= nudos_max)]
    if len(aux) > 0:
        print(cat, color, nudos_min, nudos_max, aux.shape)

TD deepskyblue 0 33 (3, 7)
TS lime 34 63 (6, 7)
C1 yellow 64 82 (5, 7)
C2 gold 83 95 (1, 7)
C3 orange 96 113 (15, 7)
C4 red 114 135 (50, 7)
C5 magenta 136 500 (50, 7)